<div class="container-row d-flex flex-column justify-content-around align-items-center">
  <ion-row class="d-flex justify-content-center">
    <ion-col size="12" class="ion-align-self-center">
      <ion-text class="d-flex justify-content-center" color="secondary">
        <h2 class="title">Bine ai venit in <br /> <span class="subtitle">My Transporter</span></h2>
      </ion-text>
    </ion-col>
  </ion-row>
  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()" class="container-inputs w-100">
    <ion-row class="d-flex justify-content-center">
      <ion-col class="mt-3 container-input" size="5">
        <ion-input class="input-user" [ngClass]="isSubmitted && errorControl.firstName.errors?.required ? 'error' : ''" formControlName="firstName" required placeholder="Nume"></ion-input>
      </ion-col>
      <ion-col size="5" class="mt-3 container-input">
        <ion-input class="input-user" [ngClass]="isSubmitted && errorControl.lastName.errors?.required ? 'error' : ''" formControlName="lastName" required placeholder="Prenume"></ion-input>
      </ion-col>
      <ion-col size="10" class="mt-3 container-input">
        <ion-input type="date" class="input-user" [ngClass]="isSubmitted && errorControl.birthday.errors?.required ? 'error' : ''" required formControlName="birthday"></ion-input>
      </ion-col>
      <ion-col size="10" class="mt-3 container-input">
        <ion-select placeholder="Ce tip de user esti?">
          <ion-select-option value="f">Transporter</ion-select-option>
          <ion-select-option value="m">Client</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="10" class="mt-3 container-input">
        <ion-input type="email" class="input-user" [ngClass]="isSubmitted && errorControl.email.errors?.required ? 'error' : ''" required formControlName="email" placeholder="Email"></ion-input>
        <span class="error-msg" *ngIf="isSubmitted && errorControl.email.errors?.email">
         Te rugam sa introduci un mail valid
        </span>
      </ion-col>
      <ion-col size="10" class="mt-3 container-input">
        <ion-input type="password" class="input-user" [ngClass]="isSubmitted && errorControl.password.errors?.required ? 'error' : ''" required formControlName="password" placeholder="Parola"></ion-input>
        <span class="error-msg" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
          Parola trebuie sa fie lunga minim 5 caractere
        </span>
      </ion-col>
      <ion-col size="10" class="mt-4">
        <ion-text class="d-flex justify-content-center" color="primary">
          <span>Inregistrandute, acepti condițiile
            noastre prezentate <a href="" class="privacy-link">aici</a></span>
        </ion-text>
      </ion-col>
      <ion-col size="10" class="mt-3 d-flex justify-content-center">
        <button class="btn-register" type="submit">Inregistreaza-ma</button>
      </ion-col>
    </ion-row>
  </form>
</div>
