.container-item {
  ion-icon {
    margin-right: 10px;
  }
}

.container-btn {
  margin-top: 25px;
  .btn-logout {
    padding: 10px 20px;
    background-color: #ff8c32;
    color: #ffff;
    border-radius: 5px;
  }
}
