.container-title {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  ion-icon {
    font-size: 30px;
    color: white;
  }
}

.container-item {
  .item {
    margin: 10px 0;
  }
}

.title {
  margin: 0!important;
  color: white;
  margin-left: 20px!important;
}

.copyright-label {
  text-align: start;
  font-size: 15px;
}
