.container-user-image {
  width: 35px!important;
  height: 35px!important;
  margin-right: 10px;
}

.container-post-detail {
  ion-icon {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.post-title {
  font-weight: bold;
}

.post-description {
  font-size: 15px;
}

// .container-user-action {
//   ion-icon {
//     font-size: 22px;
//   }
// }

// .number-of-likes {
//   margin-left: 5px;
// }

// .liked {
//   color: red;
// }

.btn-option-post {
  background: transparent;
}

.btn-delete {
  ion-icon {
    font-size: 22px;
    margin-right: 5px;
  }
}
